
/* Element | file:///C:/Users/Amit/nibe_workspace/rajasthangoatlive/index.html */

#body-content {
  /* padding-top: 4.5rem; */
  padding-top: 5rem;
}

.navbar-brand {
    font-size: 0.5rem;
}

.navbar-dark .navbar-nav .nav-link {
    /* color: rgba(255,255,255,.5); */
    color: #FFF;
}

#nav-content {
    position: relative;
    left: 2px;
}
@media only screen and (min-width: 768px) {
    .navbar-brand {
        font-size: 0.7rem;
    }
    #nav-content {
        position: relative;
        left: 2px;
    }
    .no-gutters > .col, .no-gutters > [class*="col-"] {
        padding-top: 4px;
        padding-bottom: 4px;
    }
}

@media only screen and (min-width: 810px) {
    .navbar-brand {
        font-size: 1.0rem;
    }
}
.jumbotron {
    padding: 0.5rem 0.5rem;
    margin-bottom: 0rem;
}

#promotion-header {
    background-color: #FFF;
}

.display-4 {
    font-size: 1.5rem;
    font-weight: 400;
}
.lead {
    font-size: 1rem;
    font-weight: 200;
}

.container {
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    background-color: #FFF;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-style: none;
}

#how-safe {
    padding-top: 1rem;
}
#about-us {
    padding-top: 1rem;
    background-color: #FFF;
}
#about-us.jumbotron {
    background-color: #FFF;
}

.row {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#contact-us {
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #000000
}

#contact-us .lead {
    font-size: 0.8rem
}

#contact-us h6 {
    margin-bottom: 0rem
}

#contact-us p {
    margin-bottom: 0rem
}

#copyright-footer {
    background-color: #FFF;
}
.btnknowmore{
    background-color: #FA4B06;
    color: white;
    font-size: 18;
    /* margin-right: 15%; */
}
.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}